* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #ddffcc;
  font-family: Saira;
  font-size:5vw;
  color: black;
  text-align: justify;
  text-justify: inter-word;
}

header {
  background-color: #4d94ff;
  font-family: Dosis;
  font-size:8vw;
  padding: 20px;
  font-weight: bold;
}

@font-face {
  font-family: Dosis;
  src: url(fonts/Dosis-Regular.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Saira;
  src: url(fonts/SairaSemiCondensed-Regular.ttf);
  font-weight: bold;
}

nav {
  display: block;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: left;
  border-right: 2px solid #ddffcc;
}

#nav1 {
  width: 26%;  
}
#nav2, #nav3 {
  width: 37%;  
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #171769;
}

main {
  padding-left: 20px;
  padding-right: 30px;
  height: calc(100% - 180px);
  overflow: auto;
}

input[type=number] {
  width: 50%;
  font-size: 4vw;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 0 5px 1px #969696;
}

button {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  display: inline-block;
  padding: 10px 25px;
  margin: 10px 6px;
  cursor: pointer;
  border-radius: 20px;
  font-size: 4vw;
}

h1 {
  font-size:6vw;
  font-weight: bold;
}

table {
  border-style: inset;
  width: 80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

td, th, tr {
  border: 1px solid #00b300;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

sup, sub {
  font-size:3.5vw;
}

.eq {
  display: block;
  text-align: center;
}

#question {
  
}
#answer {
  display: none;
}
